---
title: Home
layout: page
---

<div class="home">
  <div class="apresentacao">
    <div class="container">
      <div class="frame">
        <h2>Um livro <span>muda a vida</span></h2>

        <a class="d-md-none" target="_blank" href="https://www.youtube.com/embed/xt2qJwwnH2U?rel=0&amp;autoplay=1;fs=0;autohide=0;hd=0;">
          <img class="play" src="/assets/img/home-play.svg" alt="Clique para assistir">
        </a>

        <img src="/assets/img/home-play.svg" class="play	desktop d-none d-md-block invisible" data-toggle="modal" data-target="#modal" alt="Clique para assistir">

      </div>
      <a href="http://doe.vagalume.org.br/includes/doar.php" alt="Clique para doar" class="doar botao">
        <h3>Doe agora</h3>
      </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Expedição Vaga Lume - 15 anos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body embed-responsive embed-responsive-16by9">
            <div id="player"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="proposito">
    <div class="container">
      <h3>Propósito</h3>
      <p>Empoderar crianças de comunidades rurais da Amazônia a partir da
        promoção da leitura e gestão de bibliotecas comunitárias como espaço
        para compartilhar saberes.</p>
        <a href="http://arquivo.vagalume.org.br/interna/13/sobre-a-vaga-lume" class="botao">
          <h4>Entenda como pensamos</h4>
        </a>
    </div>
  </div>
  <div class="parceiros">
    <div class="container">
      <h3>Parceiros</h3>
      {% for grupo in site.data.parceiros %}
        <div class="grupo">
          <img class="grupo-nivel" src="/assets/img/parceiros/{{ grupo.lampadas }}-lampada.svg" alt="Parceiro {{ grupo.lampadas | pluralize: 'lâmpada', 'lâmpadas' }}">
          <ul>
            {% for parceiro in grupo['lista'] %}
              <li>
                <img class="logo" src="{{ parceiro.url_img }}" alt="{{ parceiro.nome }}">
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
