<div class="parceiros">
  <div class="container lista-parceiros">
    <h3>Parceiros</h3>
    {% for grupo in include.parceiros %}
      {% if forloop.index <= 3 %}
      <div class="grupo lampadas-{{ grupo.lampadas }}">
        <img class="grupo-nivel" src="/assets/img/parceiros/{{ grupo.lampadas }}-lampada.svg" alt="Parceiro {{ grupo.lampadas | pluralize: 'lâmpada', 'lâmpadas' }}">
        <ul>
          {% for parceiro in grupo['lista'] %}
            <li>
              <img class="logo" src="{{ parceiro.url_img }}" alt="{{ parceiro.nome }}">
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>