{% assign footer = site.data.footer[page.lang] %}
<footer class="footer">
  <div class="container">
    <h2>{{ footer.fale_com_a_gente }}</h2>
    <a class="email-contact" href="mailto:{{ footer.contato.email }}">{{ footer.contato.email }}</a>
    <address>
      <p class="phone">{{ footer.contato.telefone }}</p>
      <p class="address-1">{{ footer.contato.endereco_1 }}</p>
      <p class="address-2">{{ footer.contato.endereco_2 }}</p>
    </address>
    <div class="social-icons">
      <a href="https://www.facebook.com/associacaovagalume/" target="_blank">
        <img src="/assets/img/facebook.png" alt="{{ footer.alt_facebook }}">
      </a>
      <a href="https://www.instagram.com/_vaga_lume_/" target="_blank">
        <img src="/assets/img/instagram.png" alt="{{ footer.alt_instagram }}">
      </a>
    </div>
    <a class="top-button" href="#top">{{ footer.voltar_ao_topo }} &#9650;</a>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"></script>
<script>
  videoId='{{ site[page.lang].video.id }}'
</script>

{% asset jquery.slides.min.js %}
{% asset home.js %}
{% asset expedicao.js %}
</body>

</html>

