<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <h1 class="navbar-brand">
        <a href="/">
          <img class="logo" src="{{ site.baseurl }}/assets/img/logo-vagalume.svg" alt="Logo da Vaga Lume">
        </a>
        <span class=alt-logo>Vaga Lume</span>
    </h1>

    <button class="navbar-toggler navbar-toggler-open collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Abre/fecha o menu">
      Menu
    </button>

    <button class="navbar-toggler navbar-toggler-close collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Abre/fecha o menu">
      Fechar
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-primary">
        <li>
          <a href="http://www.vagalume.org.br/interna/13/sobre-a-vaga-lume">Desafio</a>
        </li>
        <li>
          <a href="http://www.vagalume.org.br/interna/16/o-que-fazemos">O que fazemos</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/onde_atuamos">Localidades</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/interna/42/doe-empresas">Como Colaborar</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-secondary">
        <li>
          <a href="http://vagalume.org.br/interna/23/transparencia">Transparência</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/interna/117/avaliacao-e-depoimentos">Histórias</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/dinamiconoticias">Notícias</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/interna/378/parceiros">Parcerias</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/contato">Contato</a>
        </li>
      </ul>
      <a class="donate-now-expanded" href="http://doe.vagalume.org.br/includes/doar.php">Doe Agora</a>
    </div>

    <a class="donate-now" href="http://doe.vagalume.org.br/includes/doar.php">Doe Agora</a>
  </div>
</nav>