<nav class="navbar sticky-top navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="{{ site.baseurl }}/assets/img/logo-vagalume.svg" alt="Logo da Vaga Lume">
    </a>

    <button class="navbar-toggler navbar-toggler-open" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Abre/fecha o menu">
      Menu
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-secondary">
        <li>
          <a href="http://vagalume.org.br/interna/23/transparencia">Transparência</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/dinamiconoticias">Notícias</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/interna/378/parceiros">Parcerias</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/contato">Contato</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-primary">
        <li>
          <a href="http://www.vagalume.org.br/interna/13/sobre-a-vaga-lume">Desafio</a>
        </li>
        <li>
          <a href="http://www.vagalume.org.br/interna/16/o-que-fazemos">O que fazemos</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/interna/42/doe-empresas">Como Colaborar</a>
        </li>
        <li>
          <a href="http://vagalume.org.br/interna/117/avaliacao-e-depoimentos">Histórias</a>
        </li>
      </ul>
    </div>

    <a class="d-none d-md-block doe-agora" href="http://doe.vagalume.org.br/includes/doar.php">Doe Agora</a>
  </div>
</nav>