<!doctype html>
{% if page.url contains "/en/" %}
  {% assign lang = "en" %}
{% else %}
  {% assign lang = "pt" %}
{% endif %}
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
{% assign nome_pagina = site.title %}
{% if page.title != 'Home' %}
  {% assign nome_pagina = page.title | append: ' | ' | append: site.title %}
{% endif %}
    <title>{{ nome_pagina }}</title>
{% include partial/favicons.html %}
{% include partial/meta.html %}
{% include partial/social.html %}
{% include partial/gtm-head.html %}
{% include partial/estilos.html %}
  </head>
  <body>
    {% include partial/gtm-body.html%}
    <a name="top"></a>
