{% assign menu = site.data.menu[page.lang] %}
<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    {% if page.title == 'Home' %}
    <h1>
        {% include partial/logo.html home_url=menu.home_url %}
        <span class=alt-logo>Vaga Lume</span>
    </h1>
    {% else %}
      {% include partial/logo.html home_url=menu.home_url %}
    {% endif %}

    <button class="navbar-toggler navbar-toggler-open collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="{{ menu.ajuda_botao }}">
      {{ menu.botao_menu }}
    </button>

    <button class="navbar-toggler navbar-toggler-close collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="{{ menu.ajuda_botao }}">
      {{ menu.botao_fechar }}
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-primary">
        {% for item in menu.principal %}
        <li>
          <a href="{{ item.link }}">{{ item.nome }}</a>
        </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav navbar-secondary">
        {% for item in menu.secundario %}
        <li>
          <a href="{{ item.link }}">{{ item.nome }}</a>
        </li>
        {% endfor %}
      </ul>
      <a class="donate-now-expanded doar" href="{{ menu.url_doe }}">{{ menu.doe }}</a>
    </div>

    <a class="donate-now doar" href="{{ menu.url_doe }}">{{ menu.doe }}</a>
  </div>
</nav>
