<div class="home">
  <div class="block1">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="frame">
              <p>um livro <span>MUDA A VIDA</span></p>
              <br>
              <img src="/assets/img/home-play.svg" alt="Clique para assistir">
            </div>
            <a href="#" alt="Clique para doar" class="doar">
            <div >
                <p>doe agora</p>
            </div>
          </a>
          </div>
        </div>
      </div>
  </div>
</div>