@function px_to_em($target, $context: $base-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

$base-size: 16px;

$orangey-yellow: #fdb913;
$white: #fff;
$greyish-brown: #6f6251;
$umber: #aa6a01;
$black: #000;

.container {
  max-width: px_to_em(940px);
}
