header {
  background-color: #fff;
  height: 77px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  & .logo {
    height: 121px;
    margin-top: 13px;
    width: 95px;
  }
}

@media (max-width: 767px) {
  header {
    height: 86px;

    & .logo-container {
      display: flex;
      justify-content: center;
    }
    
    & .logo {
      height: 126px;
      margin-top: 11px;
      width: 99px;
    }
  }
}
