@import 'blocos/apresentacao';
@import 'blocos/proposito';
@import 'blocos/parceiros';

.home {

  & p {
    margin: 1em 0 3em;
    color: $white;
  }

  & .botao {
    display: block;
    text-decoration: none;

    & > * {
      background-color: $orangey-yellow;
      color: $black;
      display: inline-block;
      font-size: 1.75rem;
      line-height: 2;
      margin: 0;
      padding: 0 1.5em;
    }
  }

  & h3 {
    color: $white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  & > * {
    padding: 6rem 0;
  }

  /* Mobile first, onde as exceções estão definidas para telas maiores */
  @media (min-width: 768px) {
    & h3 {
      color: $orangey-yellow;
      font-size: 5rem;
      margin-bottom: 3rem;
    }

    & .botao {

      & > * {
        line-height: 1.7;
        font-size: 3.25rem;
      }
    }
  }

  /* Desktop first, onde as exceções estão definidas para telas menores */
  @media (max-width: 767px) {
    margin-top: 0;

    & > * {
      padding: 3rem 0;
    }
  }
}
