.navbar {
  background-color: #fff;

  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  padding: 0;
  height: 4.8em;

  & a {
    color: #000000;
  }

  & .container {
    height: 100%;
  }

  & .navbar-brand {
    height: 100%;
    margin: 0 auto;
  }

  & .navbar-collapse {
    flex-direction: column;
  }

  & .navbar-nav {
    margin: 0.4em 0 0 auto;
    background-color: $white;
    justify-content: flex-end;
  }

  & li {
    line-height: 1.25em;
    margin-right: 2rem;
  }

  & .primario {
    font-size: 1.5em;
  }

  & .secundario {
    font-size: 1.25em;

    & a {
      color: #858585;
    }
  }

  & .navbar-toggler {
    position: fixed;
    right: 1.2em;
  }

  & .doe-agora {
    width: 5em;
    min-width: 4em;
    height: 2.7em;
    background-color: $orangey-yellow;
    padding-top: 1em;
    align-self: flex-start;

    font-size: 2.125em;
    text-align: center;
  }
}
