.navbar {
  background-color: #fff;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  white-space: nowrap;
  padding: 0;

  & a {
    color: #000000;
  }

  &-brand {
    margin: 0 auto (-1 * $logo-size / 2);
    z-index: 1;
    padding: 0;
  }

  &-collapse {
    flex-direction: column;
    background-color: $white;
  }

  &-toggler {
    text-transform: uppercase;
    font-size: 2.125em;
  }

  &-nav {
    margin: 0.4em 0 0 auto;
    justify-content: flex-end;
    text-align: center;
  }

  & li {
    line-height: 1.25em; /* é em pois deve ser proporcional ao tamanho das fontes do primary e secondary */
    margin-right: 2rem;
  }

  &-primary {
    order: 2;
    text-transform: capitalize;
  }

  &-secondary{
    order: 1;
    font-size: 1.25rem;
    text-transform: lowercase;

    & a {
      color: #858585;
    }
  }

  & .donate-now-expanded {
    display: none;
  }

  & .donate-now {
    background-color: $orangey-yellow;
    width: 10rem;
    min-width: 8rem;
    line-height: 4.5rem;
    padding-top: 2rem;
    margin-bottom: -1rem;
    align-self: flex-start;

    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  & .logo {
    height: $logo-size;
  }
}

@media screen and (max-width: 767px) {
  .navbar {

    &-toggler {
      padding: 0;
      display: block;
      width: 100%;
      margin-left: -100%;
      text-align: right;
    }

    &-toggler-close {
      color: $orangey-yellow;
    }

    &-toggler-open.collapsed, &-toggler-close {
      display: block;
    }

    &-toggler-close.collapsed, &-toggler-open {
      display: none;
    }

    &-nav {
      margin: auto;
    }

    & li {
      margin-right: 0;
    }

    &-collapse > ul:first-child {
      margin-top: $logo-size/2;
    }

    &-collapse * + * {
      margin-top: 1.125rem;
    }

    &-primary {
      order: 1;
    }

    &-secondary {
      order: 2;
      font-size: inherit;
    }

    & .donate-now {
      display: none;
    }

    & .donate-now-expanded {
      display: block;
      margin-left: auto;
      margin-right: auto;
      line-height: 3rem;
      width: 16rem;
      text-align: center;
      background-color: $orangey-yellow;
      order: 3;
    }

    & .container {
      max-width: 100%;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}