.pagina {
  .fonte, .footnotes {
    font-size: 0.75em;
    font-style: italic;
  }

  .fonte {
    text-align: right;
  }

  .footnotes {
    @include make-container();
    @include make-container-max-widths();

    color: $brown;
    font-weight: bold;
    padding: 0 1.5rem 2.5rem;

    p {
      color: initial;
      font-weight: initial;
    }

    ol {
      padding-left: 1rem;
    }

  }

  .footnote, .reversefootnote {
    font-weight: bold;
    color: $brown;
  }

  .destaque {
    color: $white;
    display: block;
    font-family: $font-amatic;
    font-size: 2.25rem;
    font-weight: 400;
  }

  .secao-proposito, .secao-principios {
    order: 1;
  }

  .secao-proposito {
    padding: 1.25rem 0;

    p {
      color: $black;
      line-height: 1.5;
      text-align: center;
    }
  }

  .secao-principios {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      * + * {
        margin-top: 1.5rem;
      }
    }

    li {
      background-color: $orangey-yellow;
      padding: 1rem;
      text-align: center;
    }
  }

  @include media-breakpoint-up(md) {
    .secao-proposito .destaque {
      font-size: 3rem;
    }

    .secao-principios {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
      }

      li {
        width: 16rem;
        margin: 1rem;
      }
    }
  }
}
