.pagina {

  .quem-somos {
    color: $white;

    h2 {
      color: $orangey-yellow;
      line-height: 1.2;
    }

    h3 {
      padding: 0;
    }

    ol {
      list-style: none;
      padding: 0 0 2em;
    }
  }

  @include media-breakpoint-up(md) {

    .quem-somos {
      ol {
        column-count: 3;
      }
    }
  }
}
