<img
  src="/assets/img/parceiros/ministerio-cultura.svg"
  alt="Lei do Incentivo a Cultura"
  class="lei-incentivo-cultura">
<div class="lista-parceiros">
  {% for grupo in include.financiadores %}
    <div class="grupo lampadas-{{ grupo.lampadas }}">
      <img class="grupo-nivel" src="/assets/img/parceiros/{{ grupo.lampadas }}-lampada.svg" alt="Parceiro {{ grupo.lampadas | pluralize: 'lâmpada', 'lâmpadas' }}">
      <ul>
        {% for parceiro in grupo['lista'] %}
          <li>
            {% if grupo.lampadas > 1 %}
            <img class="logo" src="{{ parceiro.url_img }}" alt="{{ parceiro.nome }}">
            {% else %}
            {{ parceiro.nome }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
<div class="lista-apoiadores">
  {% for grupo in include.apoiadores %}
    <div class="grupo">
      <h3>{{ grupo.servico }}</h3>
      <ul>
        {% for parceiro in grupo['lista'] %}
          <li>
            <img class="logo" src="{{ parceiro.url_img }}" alt="{{ parceiro.nome }}">
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
<img
  src="/assets/img/parceiros/brasil.svg"
  alt="Ministério da Cultura"
  class="ministerio-cultura">
