$base-size: 16px;
$logo-size: 7.625rem;

/* Color palette */
$black: #000;
$grey: #858585;
$greyish-brown: #6f6251;
$orangey-yellow: #fdb913;
$yellowey-white: #fde9b7;
$umber: #aa6a01;
$white: #fff;

$font-amatic: 'Amatic SC', 'Arial Narrow', sans-serif;
$font-opensans: 'Open Sans Condensed', 'Arial', sans-serif;

body {
  font-family: $font-opensans;
  font-size: 1.25rem;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: $font-amatic;
  font-weight: bold;
  line-height: 0.8;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  color: $orangey-yellow;
  margin-bottom: 1rem;
}

.botao {
  display: block;
  text-decoration: none;

  & > * {
    background-color: $orangey-yellow;
    color: $black;
    display: inline-block;
    font-size: 1.75rem;
    line-height: 2;
    margin: 0;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 2.375rem;
  }
}
