.footer {
  background-color: $orangey-yellow;
  padding: 3rem 0;

  h3 {
    font-size: 2.5rem;
  }

  .container {
    text-align: center;

    & > * + * {
      margin-top: 1.5rem;
    }
  }

  address {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 0.5rem;
    }
  }

  a {
    color: $black;
    display: inline-block;
  }

  a + a {
    margin-left: 1.125rem;
  }

  .social-icons {
    a:hover {
      text-decoration: none;
    }
    img {
      width: 3.75rem;
    }
  }

  .top-button {
    border: solid 0.1875rem $white;
    color: $white;
    display: block;
    font-family: $font-amatic;
    font-size: 1.75rem;
    line-height: 4rem;
    text-transform: uppercase;
  }
}

@include media-breakpoint-up(md) {
  .footer {
    font-size: 1.25rem;

    .container {
      text-align: left;

      .contact-us {
        #thankyou_message {
          display: none;
          p {
            margin-top: 1.5rem;
          }
        }

        #honeypot {
          display: none;
        }

        label {
          color: $umber;
          display: block;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 0em;
        }

        input[type="email"], textarea {
          width: 100%;
          margin-bottom: 0.5em;
          border: 2px solid $umber;
        }

        input[type="submit"] {
          display: block;
          border:	2px solid $white;
          padding-left: 1.5em;
          padding-right: 1.5em;
          background-color: transparent;
          color:$white;
        }

        input[type="submit"] {
          float: right;
          cursor: pointer;
        }

        input[type="submit"]:disabled {
          opacity:0.5;
          cursor: not-allowed;
        }
      }
    }

    .contact-info {
      padding-left: 3em;
    }

    address {
      margin-top: 1.5rem
    }

    .top-button, .email-contact {
      display: none;
    }

    .phone {
      font-weight: bold;
      order: 3;
    }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
  *:focus::-webkit-input-placeholder { color:transparent; }
  *:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  *:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  *:focus:-ms-input-placeholder { color:transparent; }
}

@include placeholder {
    font-family: $font-amatic;
    color: gray;
    font-weight:100;
    padding-left: 0.5em;
}
