.lei-incentivo-cultura, .ministerio-cultura {
  margin: 0 auto;
  display: block;
}

.lei-incentivo-cultura {
  margin-bottom: 3em;
}

.lista-apoiadores {
  .logo {
    height: 3rem;
  }
}

.lista-parceiros, .lista-apoiadores {
  .grupo-nivel {
    height: 3rem;
  }

  .logo {
    max-width: 16rem;
  }

  .lampadas-4 .logo {
    height: 4rem;
  }

  .lampadas-3 .logo {
    height: 3rem;
  }

  .lampadas-2 .logo {
    height: 1.5rem;
  }

  .grupo {
    font-size: 1.2rem;
    margin-bottom: 3em;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    list-style: none;
    margin-top: 2rem;
  }

  .lampadas-1 li {
    margin-top: 1rem;
  }

  .grupo, ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: initial 0;
  }
}

@include media-breakpoint-up(md) {
  .lista-parceiros, .lista-apoiadores {
    .grupo-nivel {
      margin-right: 3rem;
    }

    li + li {
      margin-left: 3rem;
    }

    .lampadas-1 li + li {
      margin-left: 1rem;
    }

    ul {
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: -2rem;
    }
  }

  .lista-parceiros {
    .grupo, ul {
      flex-direction: row;
      justify-content: space-around;
    }

    .logo {
      max-width: initial;
    }

    .grupo-nivel {
      min-width: 6rem;
    }
  }

  .lista-apoiadores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .logo {
      height: 4rem;
    }

    .grupo {
      margin-left: 2em;
      margin-right: 2em;
    }

    ul {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
