.navbar {
  background-color: $white;
  font-family: $font-amatic;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  text-align: left;
  white-space: nowrap;

  a {
    color: $black;
    text-decoration: none;
  }

  .selected a {
    border-bottom: .125rem solid $orangey-yellow;
  }

  .navbar-mobile-menu {
    display: flex;
    justify-content: space-between;
    margin-left: -100%;
    width: 100%;
    z-index: 2;
  }

  .buttons-language {
    font-family: $font-opensans;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 3.25rem;

    a {
      border-bottom: 2px solid $white;
      margin: .5rem;
    }

    .selected {
      border-bottom-color: $orangey-yellow;
    }
  }

  &-brand {
    height: 4rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;

    img {
      margin: 0 0 -2rem;
    }
  }

  &-collapse {
    background-color: $white;
    flex-direction: column;

    * + * {
      margin-top: 1.125rem;
    }
  }

  &-toggler {
    font-size: 3.25rem;
    text-transform: uppercase;
  }

  &-nav {
    text-align: center;
  }

  &-primary {
    text-transform: capitalize;
  }

  &-secondary{
    text-transform: lowercase;

    a {
      color: $grey;
    }
  }

  &-language {
    display: none;
    font-size: 0.8rem;
    font-family: $font-opensans;
    font-weight: normal;
    justify-content: center;
    order: 1;

    .menu-item {
      border-width: .25rem;
      margin: 0;
    }
  }

  .menu-item {
    line-height: 1.25;
  }

  .donate-now {
    display: none;
  }

  .donate-now-expanded {
    background-color: $orangey-yellow;
    display: block;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    order: 3;
    text-align: center;
    width: 16rem;
  }

  .logo {
    height: $logo-size;
  }

  .alt-logo {
    display: block !important;
    left: -9999px !important;
    position: absolute !important;
  }

  /* Regra mobile first, onde as exceções são definidas para telas maiores */
  @include media-breakpoint-up(md) {
    & + * {
      margin-top: 5.5rem;
    }

    &-brand {
      width: initial;
    }

    .menu-item {
      border-top: .2rem solid $white;
      margin-top: 0;
      margin-right: 2rem;

      a {
        border-bottom: 0;
      }
    }

    .selected, .menu-item:hover {
      border-color: $orangey-yellow;
    }

    .navbar-mobile-menu {
      display: none;
    }

    &-nav {
      margin: 0 0 .4em auto;
    }

    &-language {
      display: flex;
    }

    &-secondary {
      font-size: 1.25rem;
      order: 2;
    }

    &-primary {
      order: 3;
    }

    .donate-now-expanded {
      display: none;
    }

    .donate-now {
      align-self: flex-start;
      background-color: $orangey-yellow;
      display: block;
      font-size: 2rem;
      line-height: 2.25;
      margin-bottom: -1rem;
      min-width: 8rem;
      padding-top: 3rem;
      text-align: center;
      text-transform: uppercase;
      width: 10rem;
    }
  }

  @include media-breakpoint-down(sm) {
    position: initial;

    &-toggler {
      padding: 0;
    }

    &-toggler-close {
      color: $orangey-yellow;
    }

    &-toggler-open.collapsed, &-toggler-close {
      display: block;
    }

    &-toggler-close.collapsed, &-toggler-open {
      display: none;
    }

    &-collapse > ul:first-child {
      margin-top: $logo-size/2;
    }

    &-collapse * + * {
      margin-top: 1.125rem;
    }

    .container {
      justify-content: space-between;
      max-width: 100%;
      padding: 1rem;
    }
  }
}
