.o-que-fazemos {
  background-color: #858585;
  background-image: url("/assets/img/home-o-que-fazemos.jpg");
  background-position: -3rem -3rem;
  background-size: auto 120%;
  font-size: 1.25rem;

  .container {
    display: flex;
    align-items: center;
  }

  .mapa {
    display: none;
  }

  @include media-breakpoint-up(md) {
    background-position: top center;
    background-size: cover;
    font-size: 1.5rem;
    text-align: left;
  }

  /* O mapa só aparece em telas grandes */
  @include media-breakpoint-up(lg) {
    .conteudo {
      flex: 0 0 30%;
      text-align: left;
    }

    .mapa {
      display: block;
      margin-left: 1rem;

      img {
        width: 100%;
      }
    }
  }
}

.estatisticas {
  font-size: 1.375rem;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 12em;

  &:before, &:after {
    content: "";
    border-bottom: solid 0.1875rem $orangey-yellow;
    display: block;
    margin: 0 auto;
    width: 8.25rem;
  }

  &:before {
    margin-bottom: 1.5rem;
  }

  &:after {
    margin-top: 1.5rem;
  }

  li {
    list-style: none;
  }

  .numero {
    color: $orangey-yellow;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 0.5rem;
  }

  .descricao {
    color: $white;
    display: inline-block;
    line-height: 1;
    width: 6em;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.125rem;
    margin-left: 0;

    &:before {
      margin-left: 0;
    }

    &:after {
      display: none;
    }
  }
}
