<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
{% comment %} <link rel="apple-touch-icon" href="/assets/favicons/older-iPhone.png"> {% endcomment %}
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/favicon-iPhone-6-Plus.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/favicon-iPad-Retina.png">
<link rel="apple-touch-icon" sizes="167x167" href="/assets/favicons/favicon-iPad-Pro.png">