<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=9BylQ2Kbe8">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=9BylQ2Kbe8">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=9BylQ2Kbe8">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=9BylQ2Kbe8">
<link rel="manifest" href="/manifest.json?v=9BylQ2Kbe8">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=9BylQ2Kbe8" color="#fdb913">
<link rel="shortcut icon" href="/favicon.ico?v=9BylQ2Kbe8">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=9BylQ2Kbe8">
<meta name="theme-color" content="#ffffff">