<!-- Social sharing meta tags -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.url }}/{{ site.share_image}}">
<meta name="twitter:site" content="{{ site.twitter_username | remove_first: '@' | prepend: '@' }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}/{{ site.share_image}}">
<meta name="twitter:card" content="summary_large_image">
<!-- End Social sharing meta tags -->