---
title: Home
permalink: "/"
layout: home
---

<div class="apresentacao">
  <div class="container">
    <div class="frame">
      <h2>Um livro <span>muda a vida</span></h2>

      <a class="d-md-none" target="_blank" href="https://www.youtube.com/embed/xt2qJwwnH2U?rel=0&amp;autoplay=1;fs=0;autohide=0;hd=0;">
        <img class="play" src="/assets/img/home-play.svg" alt="Clique para assistir">
      </a>

      <img src="/assets/img/home-play.svg" class="play	desktop d-none d-md-block invisible" data-toggle="modal" data-target="#modal" alt="Clique para assistir">

    </div>
    <a href="http://doe.vagalume.org.br/includes/doar.php" alt="Clique para doar" class="doar botao">
      <h3>Doe agora</h3>
    </a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Expedição Vaga Lume - 15 anos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body embed-responsive embed-responsive-16by9">
          <div id="player"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="proposito">
  <div class="container">
    <h3>Propósito</h3>
    <p>{{ site.data.proposito.descricao }}</p>
      <a href="/proposito/" class="botao">
        <h4>Entenda como pensamos</h4>
      </a>
  </div>
</div>
<div class="o-que-fazemos">
  <div class="container">
    <div class="conteudo">
      <h3>O que fazemos</h3>
      <p>Por meio da formação de mediadores de leitura e criação de bibliotecas
        comunitárias para crianças da Amazônia, promovemos intercâmbios
        culturais com a leitura, a escrita e a oralidade para ajudar a formar
        pessoas mais engajadas na transformação de suas realidades.</p>
      <ul class="estatisticas">
        <li>
          <span class="numero">23</span>
          <span class="descricao">Municípios da Amazônia Legal</span>
        </li>
        <li>
          <span class="numero">149</span>
          <span class="descricao">bibliotecas comunitárias</span>
        </li>
        <li>
          <span class="numero">3.633</span>
          <span class="descricao">mediadores de leitura formados</span>
        </li>
      </ul>
    </div>
    <aside class="mapa">
      <img src="/assets/img/mapa.png" alt="Mapa do Brasil com as bibliotecas da Vaga Lume destacadas, encompassando toda a região norte, Maranhão, Mato Grosso e São Paulo">
    </aside>
  </div>
</div>
<div class="como-colaborar">
  <div class="container">
    <h3>Como Colaborar</h3>
    <p>Você pode ajudar na criação de bibliotecas em comunidades rurais na Amazônia e, com isso, incentivar a gestão comunitária e a valorização da cultura local!</p>
      <div class="modalidades">
        <input type="radio" name="colaborar-modalidades" id="pessoa-fisica" checked="checked">
        <label for="pessoa-fisica"><h4>Pessoa Física</h4></label>
        <div class="modalidade">
          <ul>
            <li>Lei Rouanet</li>
            <li>Compra de produtos Vaga Lume</li>
            <li>Voluntariado</li>
            <li>Participação em eventos de divulgação</li>
          </ul>
          <a href="http://doe.vagalume.org.br/includes/doar.php" class="botao-branco">
            <h4>Faça Parte</h4>
          </a>
        </div>
        <input type="radio" name="colaborar-modalidades" id="pessoa-juridica">
        <label for="pessoa-juridica"><h4>Pessoa Jurídica</h4></label>
        <div class="modalidade">
          <ul>
            <li>Lei Rouanet</li>
            <li>Patrocínio</li>
            <li>Doação para projetos</li>
          </ul>
          <a href="http://vagalume.org.br/interna/42/doe-empresas" class="botao-branco">
            <h4>Faça Parte</h4>
          </a>
        </div>
      </div>
  </div>
</div>
<div class="parceiros">
  <div class="container lista-parceiros">
    <h3>Parceiros</h3>
    {% assign parceiros = site.data.parceiros.financiadores %}
    {% for grupo in parceiros %}
      {% if forloop.index <= 2 %}
      <div class="grupo">
        <img class="grupo-nivel" src="/assets/img/parceiros/{{ grupo.lampadas }}-lampada.svg" alt="Parceiro {{ grupo.lampadas | pluralize: 'lâmpada', 'lâmpadas' }}">
        <ul>
          {% for parceiro in grupo['lista'] %}
            <li>
              <img class="logo" src="{{ parceiro.url_img }}" alt="{{ parceiro.nome }}">
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
