---
title: Transparência
permalink: "/transparencia/"
layout: pagina
imagem: "/assets/img/paginas/transparencia.jpg"
description: Conheça nossas relatórios anuais de atividades e auditoria e saiba mais
  sobre os números da Vaga Lume e seu impacto.
---

<div class="container">
  <p>Queremos que você confie cada vez mais em nosso trabalho, por isso te
  contamos em relatórios anuais o que fazemos nos municípios e comunidades onde
  estamos e em nosso escritório em São Paulo e também como aplicamos o dinheiro
  que recebemos de pessoas e de empresas.</p>
  <p>Conheça os nossos relatórios de atividade e também os nosso relatórios
  financeiros que passam por uma auditoria externa:</p>
</div>
<div class="secao-fundo-escuro relatorios">
  <div class="container">
    <h2>Relatórios Anuais de Atividades</h2>
    <ul class="atividades">
      {% for relatorio in site.data.transparencia.atividades %}
      <li class="relatorio">
        <a href="{{ relatorio.link }}">
          <img src="{{ relatorio.capa}}" alt="Capa do {{ relatorio.texto }}" class="capa">
          <p class="titulo">
            {{ relatorio.texto }}
          </p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="relatorios">
    <div class="container">
      <h2>Relatórios Anuais de Auditoria</h2>
    <ul class="auditorias">
      {% for relatorio in site.data.transparencia.auditorias %}
      <li>
        <a href="{{ relatorio.link }}">{{ relatorio.texto }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>