.footer {
  background-color: $orangey-yellow;
  padding: 3rem 0;

  h3 {
    font-size: 2.5rem;
  }

  .container {
    text-align: center;

    & > * + * {
      margin-top: 1.5rem;
    }
  }

  address {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 0.5rem;
    }
  }
  
  a {
    color: $black;
    display: inline-block;
  }

  a + a {
    margin-left: 1.125rem;
  }

  .social-icons {
    a:hover {
      text-decoration: none;
    }
    img {
      width: 3.75rem;
    }
  }
  
  .top-button {
    border: solid 0.1875rem $white;
    color: $white;
    display: block;
    font-family: $font-amatic;
    font-size: 1.75rem;
    line-height: 4rem;
    text-transform: uppercase;
  }
}

@include media-breakpoint-up(md) {
  .footer {
    font-size: 1.25rem;
    padding: 6rem 0;

    .container {
      text-align: left;
    }

    .top-button {
      display: none;
    }

    .phone {
      font-weight: bold;
      order: 3;
    }
  }
}
