$brown: #aa6a01;

.pagina {
  font-size: 1.5rem;
  text-align: left;

  header {
    background-size: cover;
    background-position: center top;

    .container {
      align-items: flex-end;
      display: flex;
      height: 24rem;
      justify-content: center;
    }
  }

  h1 {
    background-color: $orangey-yellow;
    color: $white;
    font-size: 3.75rem;
    margin: 0;
    padding: 0.3em 0.6em;
  }

  h2 {
    color: $brown;
    font-family: $font-opensans;
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: capitalize;
  }

  p + h2 {
    margin-top: 1.5em;
  }

  .container {
    padding: 2.5rem 1.5rem;
  }

  @include media-breakpoint-up(md) {
    header .container {
      justify-content: flex-start;
    }
  }
}

@import 'paginas/proposito';