$brown: #aa6a01;

.pagina {
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;

  header {
    background-color: $grey;
    background-size: cover;
    background-position: center;

    .container {
      align-items: flex-end;
      display: flex;
      height: 30rem;
      justify-content: center;
      padding-bottom: 1.5rem;
    }
  }

  h1 {
    background-color: $orangey-yellow;
    color: $white;
    font-size: 3.3rem;
    line-height: 1em;
    margin: 0;
    padding: 0.2em;
  }

  h2 {
    color: $brown;
    font-family: $font-opensans;
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: capitalize;
  }

  p + h2 {
    margin-top: 1.5em;
  }

  .container {
    padding: 2.5rem 1.5rem;
  }

  .secao-fundo-escuro {
    background-color: $greyish-brown;

    h2 {
      color: #ffffff;
    }
  }

  .secao-fundo-claro {
    background-color: $orangey-yellow;
  }

  @include media-breakpoint-up(md) {
    header .container {
      justify-content: flex-start;
      height: 25rem;
    }
  }
}

@import 'paginas/proposito';
@import 'paginas/transparencia';
@import 'paginas/expedicao';
@import 'paginas/oquefazemos';
@import 'paginas/quem-somos.scss';
